fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
sentence-transformers==2.7.0
scikit-learn==1.4.2
umap-learn==0.5.6
pdfplumber==0.11.0
python-docx==1.1.2
numpy==1.26.4
joblib==1.4.2
xgboost==2.0.3
PySastrawi==1.2.0
scipy==1.13.0